<p style="color: green"><%= notice %></p>

<%= form_with model: @link, :method => "post" do |f| %>
  <%= f.text_field :url %>
  <%= f.text_field :slug %>
  <%= f.submit "generate shortened Link" %>
<% end %>

<h1>Links</h1>

<div id="links">
  <% @links.each do |link| %>
    <p><%= link.url %> -> <%= link_to link.short_link, link.url, target: "_blank" %></p>
  <% end %>
</div>


