<p style="color: green"><%= notice %></p>

<%= form_with model: @link, :method => "get" do |f| %>
  <%= f.text_field :url %>
  <%= f.text_field :slug %>
  <%= f.submit "generate shortened Link" %>
<% end %>

<h1>Links</h1>

<div id="links">
  <% @links.each do |link| %>
    <%= render link %>
  <% end %>
</div>


